---
layout: main
---

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<article class="article-page">
  <div class="page-content">
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date"><span>{{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
      </header>
        {% if page.code%}
        <a href="{{page.code}}" target="_blank">Source code</a>&nbsp;&nbsp;
        {% else %}
        {% endif %}

        {% if page.paper%}
        <a href="{{page.paper}}" target="_blank">Paper</a>&nbsp;&nbsp;
        {% else %}
        {% endif %}

        {% if page.googlescholar%}
        <a href="{{page.googlescholar}}" target="_blank">Google Scholar</a>&nbsp;&nbsp;
        {% else %}
        {% endif %}

        {% if page.bibtex%}
        <a href="{{page.bibtex}}" target="_blank">Bibtex</a>&nbsp;&nbsp;
        {% else %}
        {% endif %}

      {{content | markdownify}}
      {% include disqus.html %}
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
